<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <import resource="classpath:spring/applicationContext-dao.xml"/>
    <!--配置dubbo扫描包-->
     <dubbo:annotation package="com.wells.service.impl"/>
    <context:component-scan base-package="com.wells.service.impl"/>
    <!--配置注册中心地址-->
    <dubbo:registry protocol="zookeeper" address="zookeeper://192.168.1.104:2181"/>
    <!--配置dubbo应用名称-->
    <dubbo:application name="dubbo-service"/>
    <dubbo:provider timeout="5000"/>
</beans>
